extends layout

block content
  .container
    .jumbotron
      .container
        h1 How may i help you ?
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
      .row
        .col-md-4
          h2 About Us
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Contact Us
          p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
          a.btn.btn-default(href='#') Contact Us
          
        .col-md-4
          h2 Book Us
          p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
          a.btn.btn-default(href='#') Book Us